h1, h2 {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* body{
    background-image: url(https://image.shutterstock.com/image-photo/empty-white-glossy-marble-corner-600w-525887722.jpg);
} */

.small{
    display: flex;
    /*this centers the text horizontally*/
    justify-content: center;
    /*this centers the text vertically*/
    align-items: center;
    font-size: 1.2rem;
}

.image{
    height: 50px;
}

#h1main {
    font-size: 320%;
}

#cardoffwhite {
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1%;
}

.underline {
    text-decoration: underline;

}

.zoom {
    transition: transform .2s; 
}
  
.zoom:hover {
    transform: scale(1.02); 
    border: 3px solid #114e8b;
    overflow: hidden;  
}

.fadeout{
    transition: opacity 0.1s;

}